#main-sidebar-div, #main-timetable-div {
	width: 50%;
	float: left;
}

#main-timetable-div {
	right: 0;
}

#main-faltacursar-div, 
	#main-microhorario-div,
	#main-selected-div {
	width: 99%
	height: 100%;
	
	padding-right: 1%;
}

#faltacursar-subjectList {
	padding-bottom: 1%;
}

.rightFloated, .dataTables_filter {
	float: right;
	margin-right: 1%;
}

.waitingImg {
	display: block;
	margin: auto;
}

.table, div.buttonContainer {
	clear: both;
}

.hidden, .dataTables_info {
	display: none;	
}

tr.row_selected {
	background-color: #F0F0F0;
}

div.fieldContainer {
	float: left;
	padding-right: 2%;
}

