#main-header-div {
	background-color: blue;
}

#main-sidebar-div {
	background-color: red;
}

#main-timetable-div {
	background-color: yellow;
	
	left: 0;
}

#main-footer-div {
	background-color: green;
}
