#main-sidebar-div, #main-timetable-div {
	width: 50%;
	float: left;
}

#main-timetable-div {
	right: 0;
}

hr {
	display: block;
	clear: both;
}

#main-faltacursar-div, 
	#main-microhorario-div,
	#main-selected-div {
	width: 99%
	height: 100%;
	
	padding-right: 1%;
}

#faltacursar-subjectList {
	padding-bottom: 1%;
}

.rightFloated, .dataTables_filter {
	float: right;
	margin-right: 1%;
}

.waitingImg {
	display: block;
	margin: auto;
}

.table, div.buttonContainer,
	#microhorario-filter,
	#microhorario-results,
	#main-footer-div {
	clear: both;
}

.hidden, .dataTables_info,
	#microhorario-results .dataTables_filter {
	display: none;	
}

tr.row_selected {
	background-color: #F0F0F0;
}

div.fieldContainer {
	float: left;
	padding-right: 2%;
}

#main-selected-div ul {
	list-style-type: none;
	background-color: #c0c0c0;

	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#main-selected-div ul li {
	width: 27%;
	
	margin-right: 1%;
	display: inline-block;
	
	text-align: center;
}

