<script type="text/underscore" id="classeslist-template">
	<table class="table table-bordered table-condensed">
		<thead>
			<th><%= subjectCodeLabel %></th>
			<th><%= subjectNameLabel %></th>
			<th><%= professorNameLabel %></th>
			<th><%= scheduleLabel %></th>
			<th><%= classCodeLabel %></th>
		</thead>
		<tbody>
			<% _.each(classes, function(classO) { %>
				<tr>
					<td><%= classO.get('CodigoDisciplina') %></td>
					<td><%= classO.get('NomeDisciplina') %></td>
					<td><%= classO.professorName %></td>
					<td><%= classO.schedule %></td>
					<td><%= classO.code %></td>	
				</tr>
			<% }); %>
		</tbody>
	</table>
</script>
