<script type="text/underscore" id="classeslist-template">
	<table class="table table-bordered table-condensed">
		<thead>
			<% if (subjectInfo) { %>
				<th><%= classesTableStr.get('subjectCodeLabel') %></th>
				<th><%= classesTableStr.get('subjectNameLabel') %></th>
			<% } %>
			<th><%= classesTableStr.get('professorNameLabel') %></th>
			<th><%= classesTableStr.get('scheduleLabel') %></th>
			<th><%= classesTableStr.get('classCodeLabel') %></th>
		
			<% if (subjectInfo) { %>
				<th><%= classesTableStr.get('ementaHeaderLabel') %></th>
			<% } %>
		</thead>
		<tbody>
			<% _.each(classes, function(classO) { %>
				<tr class="<%= classO.selected? 'chosen ': ''%>">
					<input type="hidden" name="subjectCode" value="<%= classO.subjectCode %>" />
					<input type="hidden" name="classId" value="<%= classO.classId %>" />
					<% if (subjectInfo) { %>
						<td><%= classO.subjectCode %></td>
						<td><%= classO.subjectName %></td>
					<% } %>
					<td><%= classO.professorName %></td>
					<td><%= classO.schedule %></td>
					<td><%= classO.code %></td>	
				
					<% if (subjectInfo) { %>
						<td>
							<button type="button"
								class="btn btn-link btn-small ementaButton"
								onclick="window.open('<%=classesTableStr.get('ementaBaseLink')+classO.subjectCode%>');">
							<%= classesTableStr.get('ementaLinkLabel') %>
						</a>
					</td>
					<% } %>
				</tr>
			<% }); %>
		</tbody>
	</table>
</script>
