<script type="text/underscore-template" id="faltacursar-template">
	<table id="faltacursar-subject-table" class="table table-bordered table-condensed">
		<thead>
			<th></th>
			<th><%= subjectTableStr.get('subjectCodeLabel') %></th>
			<th><%= subjectTableStr.get('subjectNameLabel') %></th>
			<th><%= subjectTableStr.get('termLabel') %></th>
			<th><%= subjectTableStr.get('creditsLabel') %></th>
			<th><%= subjectTableStr.get('ementaHeaderLabel') %></th>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div id="faltacursar-classes-div" class="hidden">
		<div id="faltacursar-classes-table-div">
		</div>
		<div id="close-classes-div">
			<hr>
			<button id="close-classes-button" class="btn btn-link btn-small">
				<%= faltacursarStr.get('closeClassesDivLabel') %>
			</button>
		</div>
	</div>
</script>

<script type="text/underscore-template" id="faltacursar-row-template">
	<tr id="<%= subject.code %>" 
		class="
			<%= subject.able==0? 'subjectBlocked' : '' %>
			<%= subject.able==1? 'subjectWarning' : '' %>
			<%= subject.status=="EA"? 'subjectWarning' : '' %>
			<%= subject.status=="CP"? 'subjectDisabled': '' %>		
			<%= subject.optativa? 'optativa ': '' %>
			<%= subject.ingroup? 'ingroup ': '' %>
	">
		<td class="imgCell"><%= (subject.optativa? '<img src="img/Setinha Mini copy.PNG" width="20" height="20" />': '') %></td>
		<td><%= subject.code %></td>
		<td class="name"><%= subject.name %>
			<% if (subject.status=="EA") { %>
				<span class="label label-warning">
					<%= subjectTableStr.get('ongoingStr') %>
				</span>
			<% } %>
			
			<% if (subject.optativa) { %>
				<span class="label label-success selected-label <%= subject.nSubjectsChosen? '': 'hidden'%>">
					<%= subject.nSubjectsChosen %> <%= subjectTableStr.get('nOptativasChosenStr') %>
				</span>

			<% } else { %>
				<span class="label label-success selected-label <%= subject.chosen? '': 'hidden' %>">
					<%= subjectTableStr.get('chosenSubjectStr') %>
				</span>
			<% } %>
		</td>
		<td><%= subject.term %></td>
		<td><%= subject.credits %></td>
		<td>
			<a href="<%= subjectTableStr.get('ementaBaseLink')+subject.code %>"
					class="btn btn-link btn-small ementaButton" target="_blank">
				<%= subjectTableStr.get('ementaLinkLabel') %>
			</a>
		</td>
	</tr>
</script>
