<script type="text/underscore-template" id="faltacursar-template">
	<table id="faltacursar-subject-table" class="table table-bordered table-condensed">
		<thead>
			<th></th>
			<th><%= subjectTableStr.get('subjectCodeLabel') %></th>
			<th><%= subjectTableStr.get('subjectNameLabel') %></th>
			<th><%= subjectTableStr.get('termLabel') %></th>
			<th><%= subjectTableStr.get('creditsLabel') %></th>
			<th><%= subjectTableStr.get('ementaHeaderLabel') %></th>
		</thead>
		<tbody>
			<% _.each(subjects, function(subject) { %>
				<tr id="<%= subject.code %>" 
					class="
						<%= subject.able==0? 'subjectBlocked' : '' %>
						<%= subject.able==1? 'subjectWarning' : '' %>
						<%= subject.status=="EA"? 'subjectWarning' : '' %>
						<%= subject.status=="CP"? 'subjectDisabled': '' %>		
						<%= subject.optativa? 'optativa ': '' %>
					">
					<td><%= (subject.optativa? '<img src="img/Setinha Mini copy.PNG" />': '') %></td>
					<td><%= subject.code %></td>
					<td><%= subject.name %></td>
					<td><%= subject.term %></td>
					<td><%= subject.credits %></td>
					<td>
						<a href="<%= subjectTableStr.get('ementaBaseLink')+subject.code %>"
								class="btn btn-link btn-small ementaButton" target="_blank">
							<%= subjectTableStr.get('ementaLinkLabel') %>
						</a>
					</td>
				</tr>
			<% }); %>
		</tbody>
	</table>
	<div id="faltacursar-classes-div" class="hidden">
	</div>
</script>

<script type="text/underscore-template" id="faltacursar-row-template">
	<tr id="<%= subject.code %>" 
					class="
						<%= subject.able==0? 'subjectBlocked' : '' %>
						<%= subject.able==1? 'subjectWarning' : '' %>
						<%= subject.status=="EA"? 'subjectWarning' : '' %>
						<%= subject.status=="CP"? 'subjectDisabled': '' %>		
						<%= subject.optativa? 'optativa ': '' %>
					">
					<td><%= (subject.optativa? '<img src="img/Setinha Mini copy.PNG" />': '') %></td>
					<td><%= subject.code %></td>
					<td><%= subject.name %></td>
					<td><%= subject.term %></td>
					<td><%= subject.credits %></td>
					<td>
						<a href="<%= subjectTableStr.get('ementaBaseLink')+subject.code %>"
								class="btn btn-link btn-small ementaButton" target="_blank">
							<%= subjectTableStr.get('ementaLinkLabel') %>
						</a>
					</td>
				</tr>


</script>
