<script type="text/underscore-template" id="faq-template">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= faqStr.get('dialogTitle') %></h3>
	</div>
	<div class="modal-body faqDiv">
		<% _.each(faqStr.get('questionList'), function(item) { %>
			<div class="faqItem">
				<div class="question">
					<span><%= faqStr.get('questionStr') %></span>
					<%= item.question %>
				</div>
				<hr>
				<div class="answer">
					<span><%= faqStr.get('answerStr') %></span>
					<%= item.answer %>
				</div>
			</div>
		<% }); %>
	</div>
</script>
