<script type="text/underscore-template" id="layout-template">
	<div class="container-fluid">
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<span class="brand">PrISMA</a>
			</div>
		</div>	
				
		<div id="content-div">
		</div>
		
		<hr>	
		<div class="row-fluid">
			<div id="main-footer-div" class="span12">
				<p>A footer</p>
			</div>
		</div>
	</div>
</script>

