<script type="text/underscore-template" id="main-template">		
	<div class="span12">
			<div id="main-sidebar-div">
				<ul class="nav nav-tabs" id="main-tabs-nav">
					<% _.each(tabs, function(tab) { %>
						<li id="<%= tab.li %>">
							<a href="<%= tab.href %>"><%= tab.str %></a>
						</li>
					<% }); %>
				</ul>
				<div class="tab-content" id="main-tab-panes">
					<% _.each(tabs, function(tab) { %>
						<div class="tab-pane" id="<%= tab.div %>">
						</div>
					<% }); %>
				</div>
			</div>

			<div id="main-timetable-div">
			</div>
		</div>
	</div>
</script>
