<script type="text/underscore-template" id="microhorario-template">
	<div id="microhorario-togglefilter">
		<input type="button" class="btn btn-link hidden rightFloated" value="<%= str.get('openFiltersStr') %>"
			id="openFiltersButton" />
		<input type="button" class="btn btn-link rightFloated" value="<%= str.get('closeFiltersStr') %>"
			id="closeFiltersButton" />
	</div>
	<div id="microhorario-filter">
		<form id="microhorario-form">
			<div class="fieldContainer">
				<label for="CodigoDisciplina"><%= str.get('subjectCodeLabel') %></label>
				<input type="text" name="CodigoDisciplina" />
			</div>
			<div class="fieldContainer">
				<label for="NomeDisciplina"><%= str.get('subjectNameLabel') %></label>
				<input type="text" name="NomeDisciplina" />
			</div>
			
			<div class="fieldContainer">
				<label for="NomeProfessor"><%= str.get('professorNameLabel') %></label>
				<input type="text" name="NomeProfessor" />
			</div>		

			<div class="fieldContainer">
				<input type="checkbox" name="toggleBlockedDisabled" value="hide" />
				<label for="toggleBlockedDisabled">
					<%= str.get('toggleBlockedDisabledLabel') %>
				</label>
			</div>
	
			<div id="hiddenFilters" class="hidden">
				<div class="fieldContainer">
					<label for="Creditos"><%= str.get('nCreditsLabel') %></label>
					<input type="text" name="Creditos" />
				</div>
				<div class="fieldContainer">
					<label for="DiaSemana"><%= str.get('dayLabel') %></label>
					<select name="DiaSemana">
						<% _.each(timetableStr.get('daysLabel'), function(day, index) { %>
							<option value="<%= index+2%>"><%= day %></option>
						<% }); %>
					</select>
				</div>
				<div class="fieldContainer">
					<label for="HoraInicial"><%= str.get('timeBeginLabel') %></label>
					<input type="text" name="HoraInicial" />
				</div>
				<div class="fieldContainer">
					<label for="HoraFinal"><%= str.get('timeEndLabel') %></label>
					<input type="text" name="HoraFinal" />
				</div>
				<div class="fieldContainer">
					<input type="checkbox" name="SHF" value="1" />
					<label for="SHF">
						<%= str.get('noFixedScheduleLabel') %>
					</label>
				</div>
				<div class="fieldContainer">
					<input type="checkbox" name="HorasDistancia" value="1" />
					<label for="HorasDistancia">
						<%= str.get('distanceHoursLabel') %>
					</label>
				</div>
			</div>

			<div class="buttonContainer">
				<input type="button" class="btn btn-link hidden" value="<%= str.get('lessFiltersStr') %>"
					id="lessFiltersButton" />
				<input type="button" class="btn btn-link" value="<%= str.get('moreFiltersStr') %>"
					id="moreFiltersButton" />

				<input class="btn btn-primary rightFloated" type="submit" id="submitQuery"
					value="<%= str.get('submitButtonLabel') %>" />
				<input class="btn btn-danger rightFloated" type="reset" id="resetQuery"
					value="<%= str.get('resetButtonLabel') %>" />
			</div>
		</form>
	</div>
	<div id="microhorario-results">	
	</div>
</script>

<script type="text/underscore-template" id="microhorario-waiting-template">
	<img src="<%= waitingImgURL %>" class="waitingImg" />
</script>

<script type="text/underscore-template" id="microhorario-noquery-template">
	<div class="alert alert-info">
		<%= str.get('noQueryStr') %>
	</div>
</script>
