<script type="text/underscore-template" id="term-template">
	<div class="row-fluid">
		<div class="span10 offset1">
			<textarea class="input-block-level" rows="20" readonly="readonly">
				<%= termStr.get('termText') %>
			</textarea>
		</div>
	</div>
		
	<form name="termForm" method="post" action="/term">
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="pull-left">
					<input type="checkbox" name="acceptedTerm" />
					<label for="acceptedTerm">
						<%= termStr.get('acceptCheckboxLabel') %>
					</label>
				</div>
				<div class="pull-right">	
					<button type="button" class="btn btn-danger">
						<a href="/logout"><%= termStr.get('cancelButtonLabel')%></a>
					</button>
					<input type="submit" class="btn btn-primary disabled"
						value="<%= termStr.get('acceptButtonLabel') %>" />
				</div>
			</div>
		</div>
	</form>
</script>

