<html>
	<head>
		<title>Prisma V2</title>
		<meta charset="utf-8" />
	</head>

	<body>
		<script type="text/template" id="login-template">
			<form name="loginForm" method="post" action="loginAction.php">
				<label for="matricula"><%= str.matriculaStr %></label><input type="text" name="matricula" /><br />
				<label for="senha"><%= str.senhaStr %></label><input type="password" name="senha" /><br />
				<input type="submit" value="<%= str.submitStr %>" />
			</form>
		</script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

		<script src="client/prisma.js"></script>
	</body>
</html>
