<!DOCTYPE html>
<html>
	<head>
		<title>Prisma V2</title>
		<meta charset="utf-8" />

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
		<link href="css/main.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<script type="text/underscore-template" id="login-template">
			<form name="loginForm" method="post" action="loginAction.php">
				<label for="matricula"><%= str.matriculaStr %></label><input type="text" name="matricula" /><br />
				<label for="senha"><%= str.senhaStr %></label><input type="password" name="senha" /><br />
				<input type="submit" value="<%= str.submitStr %>" />
			</form>
		</script>

		<script type="text/underscore-template" id="term-template">
			<textarea readonly="readonly">
				<%= str.termText %>
			</textarea>
		
			<form name="termForm" method="post" action="termAction.php">
				<input type="checkbox" name="acceptedTerm" />
				<label for="acceptedTerm"><%= str.acceptTermStr %></label><br />
				<input type="button" value="<%= str.backButtonStr %>" onclick="termController.backToLogin()" />
				<input type="submit" value="<%= str.acceptButtonStr %>" />
			</form>
		</script>

		<script type="text/underscore-template" id="main-template">		
			<div class="container-fluid">
				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<span class="brand">Prisma</a>
					</div>
				</div>	
				
				<div class="row-fluid">
					<div id="main-sidebar-div" class="tabbable span6">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#faltacursar" data-toggle="tab">Falta cursar</a></li>
							<li><a href="#microhorario" data-toggle="tab">Micro horario</a></li>
							<li><a href="#selected" data-toggle="tab">Selecionadas</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="faltacursar">
								<p>Falta cursar</p>
							</div>
							<div class="tab-pane" id="microhorario">
								<p>micro horario</p>
							</div>
							<div class="tab-pane" id="selected">
								<p>selecionadas</p>
							</div>
						</div>
					</div>
			
					<div id="main-timetable-div" class="span6">
						<p>A timetable</p>
					</div>
				</div>
			
				<div class="row-fluid">
					<div id="main-footer-div" class="span12">
						<p>A footer</p>
					</div>
				</div>
			</div>
		</script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>

		<script src="client/prisma-main.js"></script>
	</body>
</html>
