<script type="text/underscore" id="classeslist-template">
	<table id="<%= tableid %>" class="table table-bordered table-condensed">
		<thead>
			<th>Dummy</th>
			<th>Table</th>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>
