<script type="text/underscore-template" id="login-template">
	<form name="loginForm" method="post" action="loginAction.php">
		<label for="matricula"><%= matriculaStr %></label><input type="text" name="matricula" /><br />
		<label for="senha"><%= senhaStr %></label><input type="password" name="senha" /><br />
		<input type="submit" value="<%= submitStr %>" />
	</form>
</script>

