<script type="text/underscore-template" id="term-template">
	<textarea readonly="readonly">
		<%= termText %>
	</textarea>
		
	<form name="termForm" method="post" action="/term">
		<input type="checkbox" name="acceptedTerm" />
		<label for="acceptedTerm"><%= acceptTermStr %></label><br />
		<input type="button" value="<%= backButtonStr %>" onclick="termController.backToLogin()" />
		<input type="submit" value="<%= acceptButtonStr %>" />
	</form>
</script>

