include login-mixins

ul.nav.pull-right
	li.dropdown
		a.dropdown-toggle(href="#",data-toggle="dropdown")
			| <% if (loggedIn) { %>
			span <%= layoutStr.get('hiStr'), layoutStr.get('userName') %>
			| <% } else { %>
			span <%= layoutStr.get('loginStr') %>
			| <% } %>
			b.caret
		| <% if (loggedIn) { %>	
		ul.dropdown-menu
			li: a(href="/logout") <%= layoutStr.get('logoutStr') %>
		| <% } else { %>
		div.dropdown-menu
			mixin login-form(false, false, false)
		| <% } %>
