.rightFloated {
  float: right;
  margin-right: 1%;
}

.hidden {
  display: none;
}

// Border Radius (from Bootstrap's mixins.less)
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

//from bootstrap too
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.classMixin(@color) {
	padding: 0;
	height: 100%;

	div {
		width: 97%; //to keep border even in min resize
		height: 99%;
		
		margin: auto;

		.border-radius(@classesBorderRadius);

		background-color: @color;
		border: solid 1px;
		border-color: darken(@color,20%);

		text-align: center;
	}
}
