#faltacursar-classes-div {
	width: 100%;
	border-top: solid 1px @lightGrey;

	.dataTables_scrollBody table {
		margin: 0;
		width: 100%;
		height: 100%;
	}
}

#main-faltacursar-div {
	.table {
		margin:0;
		width: 100%;
	}

	.dataTables_filter {
		margin-top: 2%;
	}

	div {
		overflow: auto;
	}
}

div.half {
	height: 50%;
}

div.almostHalf {
	height: 49%;
}

div.whole {
	height: 100%;
}
