@import "variables.less";
@import "basics.less";
@import "tables.less";
@import "nav.less";

@import "faltacursar.less";
@import "microhorario.less";
@import "selected.less";
@import "timetable.less";

//Variables
@defaultSidebarWidth: 40%;
@tabsPaddingRight: 1%;
@tabsPaddingTop: 0;

#container-div {
	padding: 0;
	display: table;
	width: 100%;
}

#main-sidebar-div {
	width: @defaultSidebarWidth;	
	padding: 0;
	display: table-cell;

	vertical-align: top;
}

#main-timetable-div {
	padding: 0;
	display: table-cell;
	border: solid 1px blue;
	
	vertical-align: top;
}

#main-faltacursar-div, 
	#main-microhorario-div,
	#main-selected-div {

	width: 100%-@tabsPaddingRight;
	height: 100%-@tabsPaddingTop;

	overflow: auto;

	padding-right: @tabsPaddingRight;
	padding-top: @tabsPaddingTop;
}

#main-tabs-nav {
	margin: 0;
}

hr {
	margin: 0;
}
