.waitingImg {
	display: block;
	margin: auto;
}

div.buttonContainer,
	#microhorario-filter,
	#microhorario-results,
	div#hiddenFilters,
	div.checkboxesDiv {
	clear: both;
}

#microhorario-results .dataTables_filter {
	display: none;	
}

div.fieldContainer {
	float: left;
	padding-right: 2%;
}

div.checkboxesDiv {
	.checkbox.inline +
		.checkbox.inline {
		margin-left: 4%;
	}
}

#microhorario-togglefilter,
	#microhorario-filter {
	.clearfix();
}

#microhorario-results .dataTables_scrollBody { 
	div {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}
