.waitingImg {
	display: block;
	margin: auto;
}

div.buttonContainer,
	#microhorario-filter,
	#microhorario-results,
	#main-footer-div {
	clear: both;
}

#microhorario-results .dataTables_filter {
	display: none;	
}

div.fieldContainer {
	float: left;
	padding-right: 2%;
}


