.shadow(@v, @h, @spread) {
   -moz-box-shadow:    inset @v @h @spread #333;
   -webkit-box-shadow: inset @v @h @spread #333;
   box-shadow:         inset @v @h @spread #333;
}

#main-selected-div {
	position: relative;

	#info-container {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: white;

		text-align: right;
		
		padding-right: 2%;
		padding-bottom: 2%;
	}

	table {
		width: 98%;
	
		margin: auto;
		margin-top: 2%;		
		
		border-collapse: separate;
		border-spacing: 0px 15px;

		tbody {
			margin-top: 0;
		}
		
		thead {
			padding: 0;
		}
		
		tr, thead {
			td, th {
				padding: 0px;
				height: 30px;

				.border-radius(4px);
				border: solid 1px @lightGrey;

				text-align: center;
			

				&.radio {
					width: 2%;
				
					input {
						margin: auto;
					}
				}

				&.classDroppable {
					width: 31%;
					.shadow(2px,2px,4px);					
				}
			}
		}

		tr.row0 td {
			.classMixin(@class0Colour);
		}
		tr.row1 td {
			.classMixin(@class1Colour);
		}
		tr.row2 td {
			.classMixin(@class2Colour);
		}
		tr.row3 td {
			.classMixin(@class3Colour);
		}
		tr.row4 td {
			.classMixin(@class4Colour);
		}
		tr.row5 td {
			.classMixin(@class5Colour);
		}
		tr.row6 td {
			.classMixin(@class6Colour);
		}
		tr.row7 td {
			.classMixin(@class7Colour);
		}
		tr.row8 td {
			.classMixin(@class8Colour);
		}
		tr.row9 td {
			.classMixin(@class9Colour);
		}
		tr.row10 td {
			.classMixin(@class10Colour);
		}
		tr.row11 td {
			.classMixin(@class11Colour);
		}

	}
}

