.shadow(@v, @h, @spread) {
   -moz-box-shadow:    inset @v @h @spread #333;
   -webkit-box-shadow: inset @v @h @spread #333;
   box-shadow:         inset @v @h @spread #333;
}

#main-selected-div {
	table {
		width: 98%;
		
		margin: auto;
		margin-top: 2%;		
		
		border-collapse: separate;
		border-spacing: 0px 15px;

		tbody {
			margin-top: 0;
		}
		
		thead {
			padding: 0;
		}
		
		tr, thead {
			height: 40px;
			
			td, th {
				padding: 0px;

				.border-radius(4px);
				border: solid 1px @lightGrey;

				text-align: center;
			

				&.radio {
					width: 20px;
				
					input {
						margin: auto;
					}
				}

				&.classDroppable {
					height: 100%;
					.shadow(2px,2px,4px);

					div {
						height: 100%;
						padding-top: @tdPadding;
						padding-bottom: @tdPadding;
						
						background-color: white;
						vertical-align: middle;
					}
				}
			}
		}
	}
}

