@import "datatablesAdds.less";

.table {
	clear: both;
	margin: 0;
}
 
tr.subjectBlocked {
	background-color: @tableBlocked;
}

tr.subjectWarning {
	background-color: @tableWarning;
}

tr.classChosen {
	background-color: @tableChosen;
}

tr.subjectDisabled {
	background-color: @tableDisabled;
}

tr.subjectSelected {
	background-color: @tableSelection !important;
}


