<script id="classeslist-template" type="text/underscore-template"><table class="table table-bordered table-condensed"><thead><% if (subjectInfo) { %><th><%=classesTableStr.get('subjectCodeLabel') %></th><th><%=classesTableStr.get('subjectNameLabel') %></th><% } %><th><%=classesTableStr.get('professorNameLabel') %></th><th><%=classesTableStr.get('scheduleLabel') %></th><th><%=classesTableStr.get('classCodeLabel') %></th><th><%=classesTableStr.get('blockLabel') %></th><% if (subjectInfo) { %><th><%=classesTableStr.get('creditsLabel') %></th><th><%=classesTableStr.get('ementaHeaderLabel') %></th><% } %></thead><tbody></tbody></table></script><script id="classeslist-row-template" type="text/underscore-template"><% var addClasses= (classO.status=="CP"? 'subjectDisabled ' : '')+
(classO.status=="EA"? 'subjectWarning ' : '')+(classO.able==0? 'subjectBlocked ': '')+
(classO.able==1? 'subjectWarning ': '')+(classO.chosen? 'classChosen': '') %><tr class="<%= addClasses %>"><input type="hidden" name="subjectCode" value="<%= classO.subjectCode %>"/><input type="hidden" name="classId" value="<%= classO.classId %>"/><% if (subjectInfo) { %><td><%= classO.subjectCode %></td><td><%= classO.subjectName %>
<% if (classO.status=='EA') { %><span class="label label-warning"><%= classesTableStr.get('ongoingStr') %></span><% } %></td><% } %><td><%= classO.professorName %></td><td><%= classO.schedule %></td><td><%= classO.code %></td><td><%= classO.block %></td><% if (subjectInfo) { %><td><%= classO.credits %></td><td><a href="<%= classesTableStr.get('ementaBaseLink')+classO.subjectCode %>" target="_blank" class="btn btn-link btn-small ementa-button"><%= classesTableStr.get('ementaLinkLabel') %></a></td><% } %></tr></script>