<script type="text/underscore-template" id="main-template">		
	<div id="container-div">
			<div id="main-sidebar-div">
				<ul class="nav nav-tabs" id="main-tabs-nav">
					<% _.each(tabs, function(tab, tabName) { %>
						<li id="<%= tab.li %>">
							<a href="<%= tab.href %>">
								<%= mainStr.get(tabName+'TabLabel') %>
								<% if (tabName=="selected") { %>
									<span class="badge hidden" id="selected-badge"></span>
								<% } %>
							</a>
						</li>
					<% }); %>
				</ul>
				<div class="tab-content foreground" id="main-tab-panes">
					<% _.each(tabs, function(tab) { %>
						<div class="tab-pane" id="<%= tab.div %>">
						</div>
					<% }); %>
				</div>
			</div>

			<div id="main-timetable-div" class="foreground">
			</div>
	</div>
</script>
