<script id="main-template" type="text/underscore-template"><div id="container-div"><div id="main-sidebar-div"><ul id="main-tabs-nav" class="nav nav-tabs"><% _.each(tabs, function(tab, tabName) { %><li id="<%= tab.li %>"><a href="<%= tab.href %>"><%= mainStr.get(tabName+'TabLabel') %>
<% if (tabName=='selected') { %><span id="selected-badge" class="badge hidden"></span><% } %></a></li><% }); %></ul><div id="main-tab-panes" class="tab-content foreground"><% _.each(tabs, function(tab) { %><div id="<%= tab.div %>" class="tab-pane"></div><% }); %></div></div><div id="main-timetable-div" class="foreground"></div></div></script>