<script type="text/underscore-template" id="selected-row-template">
	<tr class="row<%= index %>">
		<td class="radio">
			<input type="radio" name="item<%= index %>" value="1"
				checked="checked"/>
		</td>
		<td class="classDroppable">
			<%= template[0]? template[0] : '' %>
		</td>
		<td class="radio">
			<input type="radio" name="item<%= index %>" value="2"/>
		</td>
		<td class="classDroppable">
			<%= template[1]? template[1] : '' %>
		</td>
		<td class="radio">
			<input type="radio" name="item<%= index %>" value="3"/>
		</td>
		<td class="classDroppable">
			<%= template[2]? template[2] : '' %>
		</td>
		<td class="radio">
			<input type="radio" name="item<%= index %>" value="none"/>
		</td>
	</li>
</script>

<script type="text/underscore-template" id="selected-template">
	<div id="table-container">
		<table>
			<thead>
				<th colspan="2"><%= selectedStr.get('option1Label') %></th>
				<th colspan="2"><%= selectedStr.get('option2Label') %></th>
				<th colspan="2"><%= selectedStr.get('option3Label') %></th>
				<th><%= selectedStr.get('noneLabel') %></th>
			</thead>
			<tbody class="selectedSortable">
			</tbody>
		</table>
	</div>
	<div id="info-container">
		<hr>
		<div id="qtdCredits">0 <%= selectedStr.get('qtdCreditsLabel')%></div>
		<div id="qtdClasses">0 <%= selectedStr.get('qtdClassesLabel')%></div>
	</div>
</script>

<script type="text/underscore-template" id="selected-draggable-template">
	<div class="classDraggable">
		<input type="hidden" name="subjectCode" value="<%= subjectCode %>" />
		<input type="hidden" name="classCode" value="<%= classId %>" />
		<button type="button" class="close">×</button>
		<%= subjectCode %> - <%= classCode %>
	</div>
</script>
