include includes/dialog-mixins

script#suggestions-template(type="text/underscore-template")
	mixin modal-header('<%= suggestionsStr.get("dialogTitle") %>')
	form#suggestions-form(action="/api/sugestao", method="post")
		div.modal-body
			textarea.input-block-level(name="comentario)
		div.modal-footer
			input.btn.btn-danger(type="reset",value!="<%=suggestionsStr.get('resetButtonLabel') %>")
			input.btn.btn-primary.disabled(type="reset",value!="<%=suggestionsStr.get('submitButtonLabel') %>")

script#suggestions-template(type="text/underscore-template")
	mixin modal-header('<%= suggestionsStr.get("dialogTitle") %>')
	
