<script id="term-template" type="text/underscore-template"><div class="row-fluid"><div class="span10 offset1"><textarea rows="20" readonly="readonly" class="input-block-level"><%= termStr.get('termText') %>
</textarea></div></div><form name="term-form" method="post" action="/term"><div class="row-fluid"><div id="term-container" class="span10 offset1"><div class="pull-left span5"><input type="checkbox" name="acceptedTerm"/><label for="acceptedTerm"><%= termStr.get('acceptCheckboxLabel') %></label></div><input type="submit" value="<%= termStr.get('acceptButtonLabel') %>" class="pull-right btn btn-primary disabled"/><button type="button" class="pull-right btn btn-danger"><a href="/logout"><%= termStr.get('cancelButtonLabel') %></a></button></div></div></form></script>