<script type="text/underscore-template" id="timetable-template">
	<table class="table table-bordered">
		<thead>
			<th></th>
			<% _.each(timetableStr.get('daysLabel'), function(day) { %>
				<th class="dayCell"><%= day %></th>
			<% }); %>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>

